<!--tarjetas-->
<!-- Sección de tarjetas -->
 <section id="servicios" class="mt-16">
  <h2 class="text-3xl font-bold text-blue-800 text-center mt-10">Servicios</h2>
  <p class="text-gray-600 text-center max-w-xl mx-auto mt-2">
    Descubre los servicios digitales que ponemos a tu disposición para simplificar tu atención médica.
  </p>
 </section>

<section class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-10 px-4">
  <div class="bg-white rounded-2xl shadow-lg p-6 hover:shadow-xl transition">
    <img src="assets/images/salud.png" alt="Icono 1" class="h-16 mx-auto mb-4" />
    <h3 class="text-xl font-semibold text-center text-gray-800">Servicio 1</h3>
    <p class="text-gray-600 text-center mt-2">Descripción breve del servicio o contenido.</p>
  </div>

  <div class="bg-white rounded-2xl shadow-lg p-6 hover:shadow-xl transition">
    <img src="assets/images/cruz.png" alt="Icono 2" class="h-16 mx-auto mb-4" />
    <h3 class="text-xl font-semibold text-center text-gray-800">Servicio 2</h3>
    <p class="text-gray-600 text-center mt-2">Texto corto que explica el beneficio o función.</p>
  </div>

  <div class="bg-white rounded-2xl shadow-lg p-6 hover:shadow-xl transition">
    <img src="assets/images/pildora.png" alt="Icono 3" class="h-16 mx-auto mb-4" />
    <h3 class="text-xl font-semibold text-center text-gray-800">Servicio 3</h3>
    <p class="text-gray-600 text-center mt-2">Contenido breve relacionado al servicio.</p>
  </div>
  <div class="bg-white rounded-2xl shadow-lg p-6 hover:shadow-xl transition">
    <img src="assets/images/cuadro_medic.png" alt="Icono 1" class="h-16 mx-auto mb-4" />
    <h3 class="text-xl font-semibold text-center text-gray-800">Servicio 4</h3>
    <p class="text-gray-600 text-center mt-2">Descripción breve del servicio o contenido.</p>
  </div>

  <div class="bg-white rounded-2xl shadow-lg p-6 hover:shadow-xl transition">
    <img src="assets/images/seguro-de-salud.png" alt="Icono 2" class="h-16 mx-auto mb-4" />
    <h3 class="text-xl font-semibold text-center text-gray-800">Servicio 5</h3>
    <p class="text-gray-600 text-center mt-2">Texto corto que explica el beneficio o función.</p>
  </div>

  <div class="bg-white rounded-2xl shadow-lg p-6 hover:shadow-xl transition">
    <img src="assets/images/clinica.png" alt="Icono 3" class="h-16 mx-auto mb-4" />
    <h3 class="text-xl font-semibold text-center text-gray-800">Servicio 6</h3>
    <p class="text-gray-600 text-center mt-2">Contenido breve relacionado al servicio.</p>
  </div>
</section>
