<section class="bg-white py-16 text-center mt-4">
  <h2 class="text-3xl font-bold text-blue-800 mb-8">Testimonios</h2>
  <div class="grid md:grid-cols-3 gap-6 px-4">
    <div class="bg-gray-100 p-6 rounded-xl shadow-md">
      <img src="assets/images/noelia.jpg" class="w-24 h-24 rounded-full object-cover object-center mx-auto shadow-md border-4 border-blue-100" alt="foto de paciente Julissa">
      <p class="italic text-gray-600">“Excelente atención, muy profesional.”</p>
      <h4 class="mt-4 font-semibold text-blue-600">Jessica <Marquee></Marquee>.</h4>
    </div>
    <div class="bg-gray-100 p-6 rounded-xl shadow-md">
      <img src="assets/images/lucia.jpg" class="w-24 h-24 rounded-full object-cover object-center mx-auto shadow-md border-4 border-blue-100" alt="foto de paciente Julissa">
      <p class="italic text-gray-600">“Excelente profesional la Dra. Ruth.”</p>
      <h4 class="mt-4 font-semibold text-blue-600">Lucia G.</h4>
    </div>
    <div class="bg-gray-100 p-6 rounded-xl shadow-md">
      <img src="assets/images/alberto.jpg" class="w-24 h-24 rounded-full object-cover object-center mx-auto shadow-md border-4 border-blue-100" alt="foto de paciente Julissa">
      <p class="italic text-gray-600">“La Dra. Ruth una gran profesional, me ayudo mucho”</p>
      <h4 class="mt-4 font-semibold text-blue-600">Andrés J.</h4>
    </div>
    <!-- Más tarjetas... -->
  </div>
</section>

